<section class="content-header">
	<div>
		<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
			<li>
				<a href="{:U(GROUP_NAME.'/Main_index')}" style="color: #333;">
				<i class=" fa fa-home">
				&nbsp;</i>Home</a>
			</li>
			<li class="active">任务设置</li>
			<li class="active">添加任务</li>
		</ol>
	</div>
</section>

<style>
.col-sm-3 {
    width: 15%;
}
</style>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<form class="form-horizontal" style="margin-top:30px" method="POST" id="form" action="{:U('Qudao/list_add')}" enctype="multipart/form-data">
					<div class="box-body">
						<a href="{:U('Qudao/Main_index')}">
						<div class="form-group">
							<label for="name" class="control-label col-sm-3">佣金</label>
							<div class="col-sm-6">
								<input type="hidden" name="pay" value="{$yongjin}" class="form-control col-sm-9">
								<p style="height:40px;line-height:40px;background:green;width:60px;color:#fff;text-align:center;font-size:19px">￥{$yongjin}</p>
							</div>
						</div>	
                      	</a>
						<div class="form-group">
							<label for="name" class="control-label col-sm-3">二维码</label>
							<div class="col-sm-6">
								<input type="text" name="img" id="thumbnail" value="" size="30" class="inpMain" />


                <button id="Upload_img" class="btn" type="button">上传</button>


                <div style="display: none;">


                    <input id="imgFile" type="file" name="imgFile" style="display: none;">


                </div>


        
					</div>
					</div>	
</div>						
					<!-- /.box-body -->

					<div class="box-footer">
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<input type="hidden" name="id" id="id" value="" />
								<input type="hidden" name="type" id="type" value="" />
								<button type="button" id="ajaxBtn" class="btn btn-primary">保存</button>
								<button type="button" class="btn btn-inverse" style="margin-left:20px;" onclick="history.go(-1)">返回</button>
							</div>	
						</div>
					</div>
				</form>
			</div>
			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div>
</section>
<script src="__PUBLIC__/Baidu/ueditor.config.js"></script>
<script src="__PUBLIC__/Baidu/ueditor.all.min.js"></script>
<script>
	var ue1 = UE.getEditor('liuc');
	var ue2 = UE.getEditor('need');
</script>

<div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
<script src="__PUBLIC__/js/commonz.js"></script>
<script>
	var route = "c=Goods&a=edit";
    var href = '';
	console.log(route);
    $('.sidebar-menu').find('a').each(function () {
        $(this).parent('li').removeClass('active');
        href = $(this).attr('href');
        if ((href.indexOf(route) != -1)) {
            $(this).parent('li').addClass('active');
            $(this).parents('.treeview').addClass('active');
			return false;
		}
    });

    $('.dropdown-toggle').click(function (ev) {
        $(this).find('.fa-angle-down').toggleClass('hidden');
        $(this).find('.fa-angle-up').toggleClass('hidden');
    });
	
	// 调整默认选择内容
	$("select").each(function(index, element) {
		$(element).find("option[value='"+$(this).attr('default')+"']").attr('selected','selected');
	});
</script>
<script>


    //上传缩略图
    $(function (){


        //如果有图片就显示


        if($("#thumbnail").val() != '' && $("#thumbnail").val() != null){


            $("#res_show_img").show();


            $("#res_show_img").html('<img src="'+$("#thumbnail").val()+'" width="150px">');


        }





        $("#Upload_img").click(function (){


            $("#show_Img").html('');


            $("#show_Img").css('display','none');


            $("#imgFile").click();


        });


        $("#imgFile").change(function(){


            $("#Upload_img").html('上传中...');


            var tmp_path = $("#imgFile").val();


            if(tmp_path != '' && tmp_path != null){


                var pic = $('#imgFile')[0].files[0];


                var fd = new FormData();


                fd.append('imgFile', pic);


                $.ajax({


                    url:"__PUBLIC__/main/js/kindeditor/php/upload_json.php",


                    type:"post",


                    dataType:'json',


                    data: fd,


                    cache: false,


                    contentType: false,


                    processData: false,


                    success:function(data){


                        if(data && data.error == '0'){


                            $("#res_show_img").show();


                            var imgurl = data.url;


                            $("#res_show_img").html('<img src="'+imgurl+'" width="150px">');


                            $("#thumbnail").val(imgurl);


                            layer.msg('上传成功');


                        }else{


                            layer.msg('上传出错了...');


                        }


                        $("#Upload_img").html('重新上传');


                    },


                    error:function (){


                        $("#Upload_img").html('重新上传');


                    }


                });


            }


        });


    });


</script>

<script>


    //上传缩略图


    $(function (){


        //如果有图片就显示


        if($("#thumbnail2").val() != '' && $("#thumbnail2").val() != null){


            $("#res_show_img2").show();


            $("#res_show_img2").html('<img src="'+$("#thumbnail2").val()+'" width="150px">');


        }





        $("#Upload_img2").click(function (){


            $("#show_Img2").html('');


            $("#show_Img2").css('display','none');


            $("#imgFile2").click();


        });


        $("#imgFile2").change(function(){


            $("#Upload_img2").html('上传中...');


            var tmp_path = $("#imgFile2").val();


            if(tmp_path != '' && tmp_path != null){


                var pic = $('#imgFile2')[0].files[0];


                var fd = new FormData();


                fd.append('imgFile2', pic);


                $.ajax({


                    url:"__PUBLIC__/main/js/kindeditor/php/upload_json2.php",


                    type:"post",


                    dataType:'json',


                    data: fd,


                    cache: false,


                    contentType: false,


                    processData: false,


                    success:function(data){


                        if(data && data.error == '0'){


                            $("#res_show_img2").show();


                            var imgurl = data.url;


                            $("#res_show_img2").html('<img src="'+imgurl+'" width="150px">');


                            $("#thumbnail2").val(imgurl);


                            layer.msg('上传成功');


                        }else{


                            layer.msg('上传出错了...');


                        }


                        $("#Upload_img2").html('重新上传');


                    },


                    error:function (){


                        $("#Upload_img2").html('重新上传');


                    }


                });


            }


        });


    });


</script>