<script type="text/javascript" src="__PUBLIC__/js/clipboard.min.js"></script>
<section class="content-header">
	<div>
		<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
			<li><a href="/m.php?m=Member&c=Index&a=index" style="color: #333;"><i class=" fa fa-home"></i> Home</a></li>
		</ol>
	</div>
</section>
<style>
	.imsg{
		width: 100%;
		height: 100%;
		background: #fff;
		padding: 100px 0;
		text-align: left;
		font-size: 18px;
		color: #FF5722;
		font-weight: 550;
	}
  .btn{
  	 width:50px;
     line-height:30px;
     text-align:center;
     color:#fff;
     background:green;
  }
  a:visited{
  	color:#fff;
  }
  a:active{
    	color:#fff;
  }
</style>
<?php
$uid = session(C('USER_QUDAO_KEY'));
$url="http://".$_SERVER['SERVER_NAME'].U('Register/signups',array('invitor' => $uid));
?>
<section class="content">
	<div class="imsg"> <p>邀请卡商将享受单个任务利润{:C('cfg_fencheng2')}的抽成。您的专属邀请链接： <a class="btn" data="<?php echo $url?>" data-clipboard-text="" style="" >复制</a></p>
  		<p>  平台新增接单投诉功能，请商家务必如实反馈辅助结果，账号被投诉骗单平台将永久封号！</p>
  	</div>

			<div class="box box-primary" style="border:none">
				
					<div class="box-body">
   
                 <h4>下单价格设置</h4>
				<table class="table table-bordered table-hover table-striped text-center" style="font-size: 14px;">
					<tbody>
					<tr>
   					<th width="30">当前价格</th>
           			 <th width="300" align="left">手续费率</th>
          			  <th width="140" align="left">最终价格</th>
					</tr>
                          <tr>
							 <td align="center">{$yongjin}</td>
               				 <td align="left">{$shouxu}</td>
               				 <td><?php echo round($yongjin*(1+$shouxu),2)?></td>
						</tr>		
                  </tbody>
				</table>
               <p style="color:red;text-align:center"> 小技巧：系统根据发布价格排序订单，价格越高，排序越靠前，会员优先接单。<br>订单特别多的时候低价单会沉到底部，辅助效率可能会变差。故建议爆单的时候，适当调高价格，可提升辅助效率</p>
			</div>
 				<form class="form-horizontal" style="margin-top:30px" method="POST" action="{:U('Qudao/Main_add')}"enctype="multipart/form-data">
					<div class="box-body">
						<div class="form-group">
							<label for="exampleInputEmail1" class="control-label col-sm-3">下单价格</label>
							<div class="col-sm-6">
								     <input type="text" name="price" value="{$yongjin}" size="30" class="inpMain" />
							</div>
						</div>	
					</div>
				
					<!-- /.box-body -->

					<div class="box-footer">
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="button" id="ajaxBtn" class="btn btn-primary">保存</button>
							</div>
						</div>
					</div>
				</form>
	</div>
</section>
<script>
        $.fn.datetimepicker.dates['zh-CN'] = {
		days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
		daysShort: ["日", "一", "二", "三", "四", "五", "六", "日"],
		daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
		months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
		monthsShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
		meridiem: ["上午", "下午"],
		today: "今天"
	};

	$('.reservationtime').datetimepicker({
		format: 'yyyy-mm-dd',
		language: 'zh-CN',
		weekStart: 1,
		todayBtn: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0,
		showMeridian: 1
	});
</script>	
  <script src="__PUBLIC__/js/commonz.js"></script>
<div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
<script>
	var route = "c=Index&a=index";
    var href = '';
	console.log(route);
    $('.sidebar-menu').find('a').each(function () {
        $(this).parent('li').removeClass('active');
        href = $(this).attr('href');
        if ((href.indexOf(route) != -1)) {
            $(this).parent('li').addClass('active');
            $(this).parents('.treeview').addClass('active');
			return false;
		}
    });

    $('.dropdown-toggle').click(function (ev) {
        $(this).find('.fa-angle-down').toggleClass('hidden');
        $(this).find('.fa-angle-up').toggleClass('hidden');
    });
	
	// 调整默认选择内容
	$("select").each(function(index, element) {
		$(element).find("option[value='"+$(this).attr('default')+"']").attr('selected','selected');
	});
</script>
<script>
   $("a.btn").click(function(e){
                   var url=$(this).attr('data');
                   $(this).attr('data-clipboard-text',url);
                 
                   });
  var copy2 = document.querySelectorAll('a');
    var clipboard2 = new ClipboardJS(copy2);
    clipboard2.on('success', function(e) {
        alert('复制成功！');
    });

    clipboard2.on('error', function(e) {
        console.log('复制失败！');
    });
</script>