<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>详情</title>
<link rel="stylesheet" type="text/css" href="/Public/css/hui.css" />

</head>
<style>
body{background:#FFFFFF!important;}
.divp{width:96%;margin: 50px auto 5px auto;}
.divtit{height: 30px;line-height: 30px;color:#333;text-align: center;font-weight: bold;font-size:16px;}
.divcent{width:96%;margin:0 auto;margin-top:44px;color:#999;}
video{width:100%;}
  
</style>
<body>
	<header class="hui-header">
        <a href="/" id="hui-back"></a>
        <h1>详情</h1>
        <div id="hui-header-menu"></div>
    </header>	
	
	
		<div style="height:5px;background:#EEEEEE;"></div>
		<div class="divcent">
			{$list.text}
		</div>
	

</body>

</html>


