 <!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
			<li>
				<a href="{:U(GROUP_NAME.'/Main_index')}" style="color: #333;">
				<i class=" fa fa-home">
				&nbsp;</i>Home</a>
			</li>
			<li class="active">帮助中心</li>
			<li class="active">添加</li>
		</ol>
	</div>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<form class="form-horizontal" style="margin-top:30px" method="POST" action="{:U(GROUP_NAME.'/Block_add')}"enctype="multipart/form-data">
					<div class="box-body">
						<div class="form-group">
							<label for="exampleInputEmail1" class="control-label col-sm-3">标题</label>
							<div class="col-sm-6">
								     <input type="text" name="name" value="" size="30" class="inpMain" />
							</div>
						</div>					

						<div class="form-group">
							<label for="exampleInputEmail1" class="control-label col-sm-3">内容</label>
							<div class="col-sm-6">
							   <textarea name="cont" cols="60" rows="4" class="textArea"></textarea>
							</div>
						</div>					
					</div>
				
					<!-- /.box-body -->

					<div class="box-footer">
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="button" id="ajaxBtn" class="btn btn-primary">添加</button>
							</div>
						</div>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</section>

<div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
<script src="__PUBLIC__/js/commonz.js"></script>

