<link rel="stylesheet" href="__PUBLIC__/css/switch.css">
<link href="__PUBLIC__/css/select2.min.css" rel="stylesheet" />
<script src="__PUBLIC__/js/select2.min.js"></script>
<section class="content-header">
<div>
	<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
		<li><a href="{:U(GROUP_NAME.'/Main_index')}" style="color: #333;"><i class=" fa fa-home"></i> Home</a></li>
		<li class="active">用户信息</li>
	</ol>
</div>
</section><!-- Main content --><section class="content">
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header" style="min-height: 35px;">
				<h3 class="box-title"></h3>
				<div class="box-tools" style="left:10px;">
					<form class="form-inline" method="post" action="{:U(GROUP_NAME.'/User_index')}">
						<div class="form-group">
							<div class="input-group">
								<input type="text" name="keyword" class="form-control" style="width:120px;" placeholder="手机号" value="{$keyword}">
									<div class="input-group-btn">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							       </div>	
                          </div>
							
						</div>
						
			
					</form>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table class="table table-bordered table-hover table-striped text-center" style="font-size: 14px;">
					<tbody>
					<tr>
						<th>
							<label>
								<input id="checkAll" type="checkbox" value="1" style="vertical-align: middle;margin: 0 2px 2px 0;">全选
							</label>
						</th>
						<th>用户ID</th>
						<th>姓名</th>
						<th>电话</th>
                      	<th>账户余额</th>
						<th>状态</th>
						<th>注册时间</th>
					
						<th width="300">操作</th>
					</tr>
					<tr>
                    <form class="form-inline" method="post" action="{:U(GROUP_NAME.'/User_del')}">
                      		<div class="form-group" style="float:left">
							<a href="{:U(GROUP_NAME.'/User_add')}" class="btn btn-success" style="margin-left:10px;">添加用户</a>
						</div>	
						<div class="form-group">
				<input type="submit" name="submit" value="删除用户"  class="btn bg-maroon" style="margin-left:10px;">
						</div>
                       	<volist name="list" id="vo">
							<td>
								<input type="checkbox" class="cheks" name="id[]" style="width:auto;" value="{$vo.id}">
							</td>
						  <th>{$vo.id}</th>
                          <th>{$vo.nick}</th>
          				  <td>{$vo.mobile}</td>
          	
       					 <td>{$vo.price}</td>
         
						   <td><?php if($vo['vip']==1) { 
				echo '正常'; }
               else { 
				echo '禁用';}
				?>
             </td>
							   <td>{$vo.reg_time|date='Y-m-d',###}</td>
						
							<td>	
								<!--a href="javascript:;" onclick="Baoji(437,2);" class="btn btn-danger">
										<i class="fa fa-align-justify"></i>标记用户
									</a-->	
								<a href="javascript:delCat('{$vo.nick}','{:U(GROUP_NAME.'/User_del',array('Id'=>$vo['id']))}')"   class="cannel_vip btn bg-maroon margin">
									<i class="fa fa-times"></i>删除
								</a>
                                <a href="{:U(GROUP_NAME.'/User_edit',array('id'=>$vo['id']))}"  class="cannel_vip btn bg-maroon margin" style="background:#00a65a !important">
									编辑
								</a>
                               <a href="javascript:changepass('{$vo.id}');"  class="cannel_vip btn bg-maroon margin" style="background:#666 !important">
									修改密码
								</a>
							</td>
						</tr>		
                  	</volist>
                   </form>
                  </tbody>
				</table>
			</div>
			<!-- /.box-body -->
			<div class="page">{$page}</div>
		</div>
	</div>
</div>
</section>

<style>
	.do-txt{
		display:none;
	}
	.do-txt .txts span{
		
	}
	.do-txt .txts{
		padding:20px 10px 5px;
		position: relative;
		display:flex;
	}
	.do-txt .txts select{
		border: 1px solid #ddd;
		padding: 2px 10px;
	}
	.do-txt button{
		width: 50%;
		margin: 30px 25%;
		height: 35px;
		border: none;
		background: #f0882c;
		color: #fff;
		border-radius: 5px;
		font-size: 15px;
		cursor:pointer;
	}
	.layui-layer{
		z-index:999!important;
	}
	.layui-layer-shade{
		z-index:99!important;
	}
</style>
<div class="do-txt">	
	<div class="txts">
		<span>选择群组：</span>
		<select class="singleSelect" id="qunid" style="width: 300px;">
			<option value="">请选择</option>
			<option value="100">A</option><option value="1">业务A群</option>		</select>
	</div>
	<button id="subMobile">提交</button>
</div>

<script>

	$(function(){
		$('.singleSelect').select2();
	
		var $choose = $(".cheks");
		 //全选
		$("#checkAll").click(function(){
			if($(this).prop('checked')){
				$choose.each(function(){
					$(this).prop("checked",true);
				});
			}else{
				$choose.each(function(){
					$(this).prop("checked",false);
				});
			}
		});
	});

	var user_id = 0;
	function charge(uid){
		user_id = uid;
		$('#myModal').modal('show');
	}
	
	
	function addQun(){
		layer.open({
			type: 1,
			title: "请先选择用户后移动到群组",
			skin: 'layui-layer-rim', //加上边框
			area: ['450px', '210px'], //宽高
			content: $('.do-txt'),
		});
	}
	
	//提交移动到群组
	$('#subMobile').click(function(){
		var ids = [];
		$('.cheks').each(function(){
			if($(this).prop('checked')){
				ids.push($(this).val());
			}
		});
		if(ids.length == 0){
			layer.alert('请勾选记录');
			return false;
		}
		var qunid = $('#qunid option:selected').val();
		if(!qunid){
			layer.alert('请选择移动的群组');
			return false;
		}
		layer.confirm("确定勾选用户移动到群组操作？",function(){
			layer.load(2);
			$.post("/m.php?m=Member&c=User&a=setQun",{ids:ids.join(","),qunid:qunid},function(d){
				if(d){
					if(d.status){
						layer.alert(d.info,function(){
							location.reload();
						});
					}else{
						layer.msg(d.info);
					}
				}else{
					layer.closeAll();
					layer.msg('请求失败！');
				}
			});
		});
	})
	
	
	
	function level(uid){
		user_id = uid;
		$('#myModal2').modal("show");
	}
	
	//money充值
	$('#submit-charge').click(function(){
		var money = $('#balance-charge').val();
		if(money == 0){
			layer.msg('充值金额不能为0');
			return;
		}
		$.post("/m.php?m=Member&c=User&a=setUserMoney",{user_id:user_id,money:money},function(d){
			if(d){
				layer.alert(d.info,function(){
					location.reload();
				})
			}else{
				layer.msg('请求失败！');
			}
		})
	})
	
	
	//等级修改
	$('#submit-level').click(function(){
		var level = $('#level option:selected').val();
		if(level == ""){
			layer.msg('请选择更改的等级');
			return;
		}
		$.post("/m.php?m=Member&c=User&a=setUserLevel",{user_id:user_id,level:level},function(d){
			if(d){
				layer.alert(d.info,function(){
					location.reload();
				})
			}else{
				layer.msg('请求失败！');
			}
		})
	})
	
	//标记用户
	function Baoji(id,status){
		if(status == -1){
			postBao(id,status);
		}else{
			layer.prompt({title:'输入标记！'},function(val, index){
				if(val == ''){
					layer.msg('请输入标记！');
					return;
				}
				postBao(id,status,val);
				layer.close(index);
			});
		}
	}
	
	//标记动作
	function postBao($id,$status,$msg=""){
		$.post("/m.php?m=Member&c=User&a=setUserbj",{id:$id,status:$status,msg:$msg},function(d){
			if(d){
				layer.alert(d.info,function(){
					location.reload();
				})
			}else{
				layer.msg('网络异常');
			}
		});
	}
	
	function clickCheckbox(id,ob , field){
		$.post("/m.php?m=Member&c=User&a=setStatus",{id:id,field:field},function(d){
			if(d){
				if($(ob).find(".switch-off").length>0){
					$(ob).find(".switch-animate").removeClass('switch-off');
					$(ob).find(".switch-animate").addClass('switch-on');
				}else{
					$(ob).find(".switch-animate").removeClass('switch-on');
					$(ob).find(".switch-animate").addClass('switch-off');
				}
			}else{
				layer.msg('请求失败！');
			}
		});
	}
</script>

    </div>
  
    <div class="control-sidebar-bg" style="position: fixed; height: auto;"></div>
</div>
<script src="__PUBLIC__/js/commonz.js"></script>
<script>
	var route = "c=User&a=index";
    var href = '';
	console.log(route);
    $('.sidebar-menu').find('a').each(function () {
        $(this).parent('li').removeClass('active');
        href = $(this).attr('href');
        if ((href.indexOf(route) != -1)) {
            $(this).parent('li').addClass('active');
            $(this).parents('.treeview').addClass('active');
			return false;
		}
    });

    $('.dropdown-toggle').click(function (ev) {
        $(this).find('.fa-angle-down').toggleClass('hidden');
        $(this).find('.fa-angle-up').toggleClass('hidden');
    });
	
	// 调整默认选择内容
	$("select").each(function(index, element) {
		$(element).find("option[value='"+$(this).attr('default')+"']").attr('selected','selected');
	});
</script>
<script>

    function delCat(name,jumpurl){

        layer.confirm(

                '确定要删除自由块:['+name+']吗?',

                function (){

                    window.location.href = jumpurl;

                }

        );

    }
function changepass(uid){

		layer.prompt({title: '输入新密码，并确认', formType: 1}, function(pass, index){

			if(pass == '' || pass == null){

				layer.msg('密码不能为空!');

			}else if(pass.length < 6){

				layer.msg("密码长度不能小于6位!");

			}else{

				$.post(

					"{:U(GROUP_NAME.'/changepass')}",

					{id:uid,pass:pass},

					function (data,state){

						if(state != "success"){

							layer.msg("网络通讯失败!");

						}else if(data.status == 1){

							layer.msg("密码修改成功!");

							layer.close(index);

						}else{

							layer.msg(data.msg);

						}

					}

				);

			}

		});

    }
</script>